.section-features {
    padding-top: 94px;
    padding-bottom: 94px;
}

.features-list {
    display: flex;
    justify-content: center;
    gap: 30px;
    &-title {
        font-size: 14px;
        font-weight: 700;
        line-height: 1;
        letter-spacing: 0.03em;
        color: $main-text-color;
    }
    &-text {
        font-size: 14px;
        font-weight: 400;
        line-height: 1, 1;
        letter-spacing: 0.03em;
    }
    &-desc {
        font-size: 14px;
        font-weight: 400;
        line-height: 1, 1;
        letter-spacing: 0.03em;
        color: var(--second-text-color);
        margin-top: 10px;
    }
}

.antena::before {
    content: "";
    background-image: url("/img/antena.png");
    width: 270px;
    height: 120px;
    display: inline-block;
    margin-bottom: 30px;
}

.clock::before {
    content: "";
    background-image: url("/img/clock.png");
    width: 270px;
    height: 120px;
    display: inline-block;
    margin-bottom: 30px;
}

.desctop::before {
    content: "";
    background-image: url("/img/desctop.png");
    width: 270px;
    height: 120px;
    display: inline-block;
    margin-bottom: 30px;
}

.astronaft::before {
    content: "";
    background-image: url("/img/astronaft.png");
    width: 270px;
    height: 120px;
    display: inline-block;
    margin-bottom: 30px;
}