.footer {
    padding: 60px 0;
    background-color: rgba(47, 48, 58, 1);
    &-logo {
        font-size: 26px;
        font-weight: 700;
        line-height: 31px;
        letter-spacing: 0.03em;
        text-align: center;
        color: $main-white-color;
    }
    &-text {
        font-size: 14px;
        font-weight: 700;
        line-height: 16px;
        color: rgba(255, 255, 255, 1);
        margin-bottom: 20px;
        text-align: center;
        
        @include desc(1199px) {
            text-align: left;
        }
    }
    &-list {
        display: flex;
        justify-content: center;
        gap: 10px;
        
        @include desc(1199px) {
            margin-right: 93px;
        }

        &-link {
            display: flex;
            justify-content: center;
            align-items: center;
            color: rgba(255, 255, 255, 1);
            background-color: rgba(255, 255, 255, 0.1);
            width: 44px;
            height: 44px;
            border-radius: 50%;
            &:hover {
                background-color: rgba(33, 150, 243, 1);
                color: rgba(255, 255, 255, 1);
            }
        }
        &-svg {
            fill: currentColor;
        }
    }
    &-wrap {
        
        @include tab(767px) {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            gap: 60px 165px;
        }
        
        @include desc(1199px) {
            display: flex;
            justify-content: center;
            flex-wrap: nowrap;
            gap: 0;
        }
    }
    &-form {
        display: block;
        flex-direction: column;
        align-items: center;
        gap: 12px;

        @include tab(767px) {
            display: flex;
            gap: 12px;
        }
        
        @include desc(1199px) {
            display: flex;
            flex-direction: row;
            align-items: center;
        }
        &-title {
            font-size: 14px;
            font-weight: 700;
            line-height: 1.1;
            letter-spacing: 0.03em;
            color: $main-white-color;
            text-transform: uppercase;
            text-align: center;
            margin-bottom: 20px;
            
            @include desc(1199px) {
                text-align: left;
            }
        }
        &-input {
            outline: none;
            background-color: inherit;
            border: 1px solid rgba(255, 255, 255, 0.3);
            border-radius: 4px;
            padding: 15px;
            width: 450px;
            color: $main-white-color;

            @include tab(767px) {
                outline: none;
                background-color: inherit;
                border: 1px solid rgba(255, 255, 255, 0.3);
                border-radius: 4px;
                padding: 15px;
                width: 450px;
                color: $main-white-color;
            }
            
            @include desc(1199px) {
                outline: none;
                background-color: inherit;
                border: 1px solid rgba(255, 255, 255, 0.3);
                border-radius: 4px;
                padding: 15px;
                width: 358px;
                color: $main-white-color;
            }
        }
        &-btn {
            font-family: Roboto;
            font-size: 16px;
            font-weight: 700;
            line-height: 1.8;
            letter-spacing: 0.06em;
            text-align: center;
            width: 200px;
            color: $main-white-color;
            background-color: $main-blue-color;
            padding: 10px 13px 10px 26px;
            display: flex;
            align-items: center;
            gap: 10px;
            border-radius: 4px;
            margin: 0 auto;
            margin-top: 20px;

            @include tab(768px) {
                    font-family: Roboto;
                    font-size: 16px;
                    font-weight: 700;
                    line-height: 1.8;
                    letter-spacing: 0.06em;
                    text-align: center;
                    color: $main-white-color;
                    background-color: $main-blue-color;
                    padding: 10px 13px 10px 26px;
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    border-radius: 4px;
                }
            
                @include desc(1199px) {
                    font-family: Roboto;
                    font-size: 16px;
                    font-weight: 700;
                    line-height: 1.8;
                    letter-spacing: 0.06em;
                    text-align: center;
                    color: $main-white-color;
                    background-color: $main-blue-color;
                    padding: 10px 13px;
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    border-radius: 4px;
                    margin-top: 0;
                }
        }
        &-svg {
            fill: $main-white-color;
        }
    }
    &-social-links{
        margin-bottom: 60px;

        @include tab(767px) {
            margin-bottom: 0;
        }
        
        @include desc(1199px) {
            margin-bottom: 0;
        }
    }
}

.location-link {
    color: $main-white-color;
}

.address {
    margin-top: 20px;
    margin-bottom: 60px;
    text-align: center;
    
    @include tab(767px) {
        margin-top: 20px;
        margin-bottom: 0;
    }
    
    @include desc(1199px) {
        text-align: left;
        margin-right: 70px;
    }
    &-list{
        &-link{
            font-weight: 400;
            font-size: 14px;
            letter-spacing: 0.03em;
            line-height: 24px;
            text-align: center;
            color: $footer-adress;
        }
    }
    
}

.footer-logo {
    font-family: Raleway;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: $main-white-color;

    @include tab(767px) {
        font-size: 26px;
    }

    @include desc(1199px) {
        font-size: 26px;
    }
}
