.section-team {
    padding-top: 94px;
    padding-bottom: 94px;
    background-color: $team-background-color;
    &-title {
        font-size: 36px;
        font-weight: 700;
        line-height: 1.1;
        letter-spacing: 0.03em;
        text-align: center;
        margin-bottom: 50px;
    }
}

.team-list {
    display: flex;
    gap: 30px;
    &-item {
        background-color: $main-white-color;
    }
    &-title {
        font-size: 16px;
        font-weight: 500;
        line-height: 1.1;
        letter-spacing: 0.03em;
        color: $main-text-color;
        text-align: center;
    }
    &-desc {
        font-size: 16px;
        font-weight: 400;
        line-height: 1.1;
        letter-spacing: 0.03em;
        text-align: center;
        color: $second-text-color;
        margin-top: 10px;
    }
}

.team-content-wrap {
    padding-top: 30px;
    padding-bottom: 30px;
}

.team-title {
    font-size: 36px;
    font-weight: 700;
    line-height: 1, 2;
    letter-spacing: 0.03em;
}

.team-social-list {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 16px;
    &-link {
        display: flex;
        justify-content: center;
        align-items: center;
        color: rgba(175, 177, 184, 1);
        width: 44px;
        height: 44px;
        border-radius: 50%;
        &:hover {
            background-color: $main-blue-color;
            color: $main-white-color;
        }
    }
}