.header{
    border-bottom: 1px solid $portfolio-line;
    &-logo {
        color: $main-text-color;
    }
    &-wrap {
        display: flex;
        gap: 93px;
        align-items: center;
    }
}

.curent::after {
    position: absolute;
    content: "";
    background-color: $main-blue-color;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    top: 44px;
    left: 0;
}